@using AMS.Models.Document
@model Create
@inject IDDLRepository repo
@{
    UserModel user = (UserModel)ViewData["User"];
}

<div class="modal-header">
    <h5 class="modal-title">@Resource.AddDocument</h5>
    <button type="button" class="close" data-bs-dismiss="modal" aria-label="Close">
        <i aria-hidden="true" class="ki ki-close"></i>
    </button>
</div>

<form asp-action="Create" asp-controller="Document" id="frm_create_document" method="post" enctype="multipart/form-data" data-ajax="true" data-ajax-method="post" data-ajax-success="success_create_document" role="form">
    <div class="modal-body">
        @Html.AntiForgeryToken()

        <div class="row pl-2 pr-2">
            <div class="col-md-6 form-group">
                <label asp-for="AStaffId" class="required"></label>
                <select asp-for="AStaffId" class="form-control select2">
                    <option value="">@Resource.Choose</option>
                </select>
                <span asp-validation-for="AStaffId" class="text-danger"></span>
            </div>
            <div class="col-md-6 form-group">
                <label asp-for="ADocumentTypeId" class="required"></label>
                <select asp-for="ADocumentTypeId" asp-items="await repo.DocumentTypes(user.Language)" class="form-control select2">
                    <option value="">@Resource.Choose</option>
                </select>
                <span asp-validation-for="ADocumentTypeId" class="text-danger"></span>
            </div>
            <div class="col-md-6 form-group">
                <label asp-for="ATitle" class="required"></label>
                <input asp-for="ATitle" type="text" class="form-control" />
                <span asp-validation-for="ATitle" class="text-danger"></span>
            </div>
            <div class="col-md-6 d-flex flex-column pl-5">
                <label asp-for="Expires" class="required" style="pointer-events: none;">@Resource.CanExpire</label>
                <div class="d-inline">
                    <input asp-for="Expires" style="cursor: pointer;" type="checkbox">
                    <label asp-for="Expires" id="lbl_expires" onclick="change_check()"></label>
                </div>
            </div>
            <div class="col-md-6 form-group" style="display: none;" id="kt_expire_date">
                <label asp-for="ExpireDate" class="required"></label>
                <div class="input-group date">
                    <input asp-for="ExpireDate" type="text" placeholder="dd/MM/yyyy" class="form-control" autocomplete="off" />
                    <div class="input-group-append">
                        <span class="input-group-text"><i class="la la-calendar"></i></span>
                    </div>
                </div>
                <span id="spn_expire_date" class="text-danger d-none">@Resource.RequiredField</span>
            </div>
        </div>
        <div class="row form-group pl-2 pr-2">
            <div class="col-md-12">
                <label asp-for="Description"></label>
                <textarea asp-for="Description" type="text" rows="2" class="form-control"></textarea>
                <span asp-validation-for="Description" class="text-danger"></span>
            </div>
        </div>
        <div class="row form-group pl-2 pr-2 pt-2">
            <div class="col-md-12">
                <div class="row">
                    <div class="col-md-6 d-flex justify-content-start">
                        <label asp-for="FormFile" class="required">@Resource.Document</label>
                    </div>
                    <div class="col-md-6 d-flex justify-content-end">
                        <span>@Resource.DocumentMaxFileSize: @Model.FileSize</span>
                    </div>
                </div>
                <div class="custom-file">
                    <input asp-for="FormFile" class="custom-file-input" onchange="get_name(this)" />
                    <label class="custom-file-label" id="lbl_browse">@Resource.Browse</label>
                    <span asp-validation-for="FormFile" class="text-danger"></span>
                </div>
            </div>
        </div>
    </div>

    <div class="modal-footer modal-footer-uniform w-full justify-content-between">
        <button type="button" class="btn btn-bold btn-pure btn-secondary" data-bs-dismiss="modal">@Resource.Close</button>
        <button type="button" id="btn_submit" class="btn btn-bold btn-pure btn-primary float-right">@Resource.Add</button>
    </div>
</form>

<script>
    $(document).ready(function () {
        $.validator.setDefaults({ ignore: '' });
        var form = $('#frm_create_document');
        form.removeData('validator');
        form.removeData('unobtrusiveValidation');
        $.validator.unobtrusive.parse(form);

        $(".select2").select2({
            width: "100%",
            language: {
                noResults: function () {
                    return '@Html.Raw(Resource.NoResultsFound)';
                },
            }
        });

        $('#lbl_expires').text('');

        $('#AStaffId').select2({
            width: "100%",
            language: {
                noResults: function () {
                    return '@Html.Raw(Resource.NoResultsFound)';
                },
                searching: function () {
                    return '@Html.Raw(Resource.Searching)';
                },
            },
            ajax: {
                url: '@Url.Action("GetStaff")',
                type: 'post',
                datatype: 'json',
                delay: 250,
                data: function (params) {
                    return {
                        name: params.term,
                        __RequestVerificationToken: $("[name='__RequestVerificationToken']").val()
                    };
                },
                processResults: function (response) {
                    return {
                        results: response
                    };
                },
                catch: true
            },
            templateResult: format_repo,
            templateSelection: format_repo_selection
        });

        $("#ExpireDate").datepicker({
            language: cultureShort,
            rtl: KTUtil.isRTL(),
            todayBtn: "linked",
            todayHighlight: true,
            templates: arrows,
            autoclose: true,
            orientation: "bottom",
            format: 'dd/mm/yyyy'
        }).inputmask("mask", {
            mask: "99/99/9999",
            placeholder: "dd/MM/yyyy"
        });

        $('#btn_submit').on('click', function () {
            if (form.valid()) {
                if ($('#Expires').is(":checked")) {
                    if ($('#ExpireDate').val() != null && $('#ExpireDate').val() != "") {
                        $('#spn_expire_date').addClass('d-none');
                        form.submit();
                    } else {
                        $('#spn_expire_date').removeClass('d-none');
                    }
                } else {
                    $('#spn_expire_date').addClass('d-none');
                    form.submit();
                }
            }
        });
    });

    function change_check() {
        if (!$('#Expires').is(":checked")) {
            $('#kt_expire_date').show(250);
        } else {
            $('#kt_expire_date').hide(250);
        }
    }

    function get_name(e) {
        $("#lbl_browse").text(e.value);
    }

    function success_create_document(data) {
        handle_success(data, SubmitPathType.RELOAD, "");
    }
</script>