@using AMS.Models.Document
@model Search
@inject IDDLRepository repo
@{
    UserModel user = (UserModel)ViewData["User"];
    ViewData["Title"] = Resource.Documents;
}

<div class="card card-custom gutter-b">
    <div class="card-header">
        <h3 class="card-title">@Resource.SearchByCriteria</h3>
        <div class="card-toolbar">
            <button onclick="add_document()" class="btn btn-primary float-right">@Resource.AddDocument</button>
        </div>
    </div>
    <div class="card-body">
        <form asp-action="Search" asp-controller="Document" method="post" id="frm_search_documents" data-ajax="true" data-ajax-success="success_documents">
            @Html.AntiForgeryToken()
            <input id="atype" name="atype" type="hidden" />

            <div class="row">
                <div class="col-lg-3 col-md-4 col-sm-6 form-group">
                    <label asp-for="Title">@Resource.Title</label>
                    <input asp-for="Title" type="text" class="form-control" />
                </div>
                <div class="col-lg-3 col-md-4 col-sm-6 form-group">
                    <label asp-for="StaffId">@Resource.Staff</label>
                    <select asp-for="StaffId" class="form-control select2">
                        <option value="">@Resource.Choose</option>
                    </select>
                </div>
                <div class="col-lg-3 col-md-4 col-sm-6 form-group">
                    <label asp-for="DocumentTypeId">@Resource.DocumentType</label>
                    <select asp-for="DocumentTypeId" asp-items="await repo.DocumentTypes(user.Language)" class="form-control select2">
                        <option value="">@Resource.Choose</option>
                    </select>
                </div>
                <div class="col-lg-3 col-md-4 col-sm-6 d-flex flex-column pl-5">
                    <label asp-for="ExpireId">@Resource.CanExpire</label>
                    <select asp-for="ExpireId" class="form-control select2">
                        <option value="">@Resource.Choose</option>
                        <option value="1">@Resource.Yes</option>
                        <option value="2">@Resource.No</option>
                    </select>
                </div>
                <div class="col-lg-3 col-md-4 col-sm-6 form-group">
                    <label asp-for="InsertDate">@Resource.InsertedDate</label>
                    <div class="input-group date">
                        <input asp-for="InsertDate" type="text" placeholder="dd/MM/yyyy" class="form-control" autocomplete="off" />
                        <div class="input-group-append">
                            <span class="input-group-text"><i class="la la-calendar"></i></span>
                        </div>
                    </div>
                </div>
                <div class="col-lg-3 col-md-4 col-sm-6 form-group">
                    <label class="invisible">//</label>
                    <button type="submit" id="btn_search_s" class="btn btn-primary btn-block">@Resource.Search</button>
                </div>
                <div class="col-lg-3 col-md-4 col-sm-6 form-group">
                    <label class="invisible">//</label>
                    <button type="button" id="btn_clear_s" class="btn btn-secondary btn-block">@Resource.Clear</button>
                </div>
            </div>
        </form>
    </div>
</div>

<div class="card card-custom d-none" id="kt_documents">
    <div class="card-header">
        <h3 class="card-title">@Resource.SearchResult</h3>
    </div>
    <div class="card-body">
        <table id="tbl_documents" class="table table-striped table-bordered table-hover">
            <thead>
                <tr>
                    <th>#</th>
                    <th>@Resource.Name</th>
                    <th>@Resource.Title</th>
                    <th>@Resource.DocumentType</th>
                    <th class="text-center" data-orderable="false">@Resource.Type</th>
                    <th class="text-center" data-orderable="false">@Resource.Expires</th>
                    <th>@Resource.Description</th>
                    <th class="text-center" data-orderable="false">@Resource.Actions</th>
                </tr>
            </thead>
            <tbody></tbody>
        </table>
    </div>
</div>

@section Scripts {
    <script>
        $(document).ready(function () {
            $(".select2").select2({
                width: "100%",
                language: {
                    noResults: function () {
                        return '@Html.Raw(Resource.NoResultsFound)';
                    },
                }
            });

            var arrows = {
                leftArrow: '<i class="la la-angle-left"></i>',
                rightArrow: '<i class="la la-angle-right"></i>'
            };

            $("#InsertDate").datepicker({
                language: cultureShort,
                rtl: KTUtil.isRTL(),
                todayBtn: "linked",
                todayHighlight: true,
                templates: arrows,
                autoclose: true,
                orientation: "bottom",
                format: 'dd/mm/yyyy'
            }).inputmask("mask", {
                mask: "99/99/9999",
                placeholder: "dd/MM/yyyy"
            });

            change_staff();

            $('#btn_search_s').trigger('click');
        });

        function change_staff() {
            $('#StaffId').select2({
                width: "100%",
                language: {
                    noResults: function () {
                        return '@Html.Raw(Resource.NoResultsFound)';
                    },
                    searching: function () {
                        return '@Html.Raw(Resource.Searching)';
                    },
                },
                ajax: {
                    url: '@Url.Action("GetStaff")',
                    type: 'post',
                    datatype: 'json',
                    delay: 250,
                    data: function (params) {
                        return {
                            name: params.term,
                            __RequestVerificationToken: $("[name='__RequestVerificationToken']").val()
                        };
                    },
                    processResults: function (response) {
                        return {
                            results: response
                        };
                    },
                    catch: true
                },
                templateResult: format_repo,
                templateSelection: format_repo_selection
            });
        }

        function success_documents(data) {
            $('#kt_documents').removeClass('d-none');

            var rowCount = 1;
            $('#tbl_documents').DataTable({
                destroy: true,
                language: {
                    url: `/Culture/DataTable/${culture}.json`
                },
                keys: true,
                responsive: true,
                pageLength: 15,
                data: data,
                deferRender: true,
                columnDefs: [
                    { width: "1%", targets: [0] },
                    { width: "5%", targets: [5, 7] },
                    { width: "8%", targets: [4] },
                    { targets: [0, 7], searchable: false },
                    { width: "30%", targets: [6] },
                    { className: "button-td text-center", targets: [5, 7] },
                    { defaultContent: "///", targets: "_all" }
                ],
                order: [[0, "asc"]],
                columns: [
                    {
                        data: function (data, type, row, meta) {
                            rowCount++;
                            return meta.row + meta.settings._iDisplayStart + 1;
                        }
                    },
                    {
                        data: function (row, type, set) {
                            var name = '<div class="d-flex flex-column align-items-start">' +
                                '<div class="text-dark-75 font-weight-bolder font-size-lg mb-0">' + row.firstName + ' ' + row.lastName + '</div>' +
                                '<div class="text-muted font-weight-bold text-hover-primary">' + row.personalNumber + '</div>' +
                                '</div>';
                            return name;
                        }
                    },
                    { data: "title" },
                    { data: "documentType" },
                    {
                        data: function (row, type, set) {
                            var img_path = row.fileType.includes('pdf') ? 'pdf' : (row.fileType.includes('xl') ? 'xls' : (row.fileType.includes('do') ? 'doc' : (row.fileType.includes('pp') ? 'ppt' : 'pdf')));
                            var txt_path = row.fileType.includes('pdf') ? 'PDF' : (row.fileType.includes('xl') ? 'Excel' : (row.fileType.includes('do') ? 'Word' : (row.fileType.includes('pp') ? 'PowerPoint' : 'PDF')));

                            return '<div class="flex-shrink-0">' +
                                '<img src="/media/extensions/' + img_path + '.png" asp-append-version="true" class="max-h-25px" />' +
                                '<span class="ml-2">' + txt_path + '</span></div>';
                        }
                    },
                    {
                        data: function (row, type, set) {
                            var label = row.expires ? 'danger' : 'success';
                            var text = row.expires ? '@Html.Raw(Resource.Yes)' : '@Html.Raw(Resource.No)';
                            return '<span class="label label-' + label + ' label-pill label-inline mr-2">' + text + '</span>';
                        }
                    },
                    {
                        data: function (row, type, set) {
                            var desc = '///';
                            if (row.description != null) {
                                if (row.description.length > 80) {
                                    desc = row.description.substring(0, 80) + '<span class="load-more" onclick="load_more(this)"><b>.. <a href="#' + rowCount + '">@Html.Raw(Resource.LookMore)</a></b></span><span class="d-none load-less-fst">' + row.description.substring(80) + '<span class="d-none load-less-snd" onclick="load_less(this)"><b> <a href="#' + rowCount + '">@Html.Raw(Resource.LookLess)</a></b></span></span>';
                                } else {
                                    desc = row.description ?? "///";
                                }
                            }
                            return desc;
                        }
                    },
                    {
                        data: function (row, type, set) {
                            return '<div class="dropdown dropleft cursor-pointer">' +
                                '<button type="button" class="btn btn-secondary btn-sm dropdown-toggle" data-toggle="dropdown">@Resource.Actions</button>' +
                                '<div class="dropdown-menu dropdown-grid" role="menu" x-placement="bottom-start" style="position: absolute; transform: translate3d(0px, 29px, 0px); top: 0px; left: 0px; will-change: transform;">' +
                                '<button type="button" class="dropdown-item cursor-pointer" onclick="edit_document(\'' + row.staffDocumentIde + '\')">@Html.Raw(ActionButton.Edit.Replace("\'","\""))<span class="title" style="margin-top: 3px; margin-left: 10px;">@Resource.Edit</span></button>' +
                                '<button type="button" class="dropdown-item cursor-pointer" onclick="download_document(\'' + row.staffDocumentIde + '\')">@Html.Raw(ActionButton.Download.Replace("\'","\""))<span class="title" style="margin-top: 3px; margin-left: 10px;">@Resource.Download</span></button>' +
                                '<button type="button" class="dropdown-item cursor-pointer" onclick="delete_document(\'' + row.staffDocumentIde + '\')">@Html.Raw(ActionButton.Delete.Replace("\'","\""))<span class="title" style="margin-top: 3px; margin-left: 10px;">@Resource.Delete</span></button>' +
                                '</div></div>';
                        }
                    }
                ]
            });
        }

        function load_more(e) {
            $(e).parent().find('.load-less-fst').removeClass('d-none');
            $(e).parent().parent().find('.load-less-snd').removeClass('d-none');
            $(e).addClass('d-none');
        }

        function load_less(e) {
            $(e).addClass('d-none');
            $(e).parent().addClass('d-none');
            $(e).parent().parent().find('.load-more').removeClass('d-none');
        }

        function add_document() {
            $('#modal-large').find('.modal-content').load('@Url.Action("Create", "Document")', function () {
                $('#modal-large').modal('toggle');
            });
        }

        function edit_document(ide) {
            $('#modal-large').find('.modal-content').load('@Url.Action("Edit", "Document")?ide=' + ide, function () {
                $('#modal-large').modal('toggle');
            });
        }

        function delete_document(ide) {
            Swal.fire({
                title: "@Html.Raw(Resource.AreYouSure)",
                text: "@Html.Raw(Resource.SureYouWantToDeleteDocument)",
                icon: "question",
                showCancelButton: true,
                confirmButtonColor: '#d33',
                cancelButtonColor: '#3085d6',
                confirmButtonText: "@Resource.Yes",
                cancelButtonText: "@Resource.No"
            }).then((result) => {
                if (result.value) {
                    $.post('@Url.Action("Delete", "Document")', {
                        ide: ide,
                        __RequestVerificationToken: $("[name='__RequestVerificationToken']").val()
                    }, function (data) {
                        handle_success(data, SubmitPathType.RELOAD, "");
                    });
                }
            });
        }

        function download_document(ide) {
            window.open('@Url.Action("Download", "Document")?ide=' + ide, "_blank");
        }
    </script>
}
