@page
@model ChangePasswordModel
@using AMS.Data.Core
@{
    Layout = "_Layout";
    ViewData["Title"] = Resource.Profile;
    ViewData["ActivePage"] = ManageNavPages.ChangePassword;
    ApplicationUser user = (ApplicationUser)ViewData["InternalUser"];
}

<div class="card card-custom">
    <div class="card-header py-3">
        <div class="card-title align-items-start flex-column">
            <h3 class="card-label font-weight-bolder text-dark">@Resource.Password</h3>
            <small class="text-muted font-weight-bold font-size-sm mt-1">@Resource.UpdatePassword</small>
        </div>
        <div class="card-toolbar">
            <button type="button" class="btn btn-primary mr-2" onclick="submit_pass()">@Resource.Save</button>
            <button type="button" class="btn btn-secondary" onclick="$('#frm_change_password').trigger('reset')">@Resource.Cancel</button>
        </div>
    </div>
    <div class="card-body">
        <form id="frm_change_password" method="post" class="form-horizontal" data-ajax="true" data-ajax-success="success_change_password">
            <div class="row form-group">
                <label asp-for="Input.OldPassword" class="col-xl-3 col-lg-3 col-form-label text-alert"></label>
                <div class="col-lg-9 col-xl-6">
                    <input asp-for="Input.OldPassword" type="password" class="form-control form-control-lg form-control-solid mb-2" placeholder="@Resource.CurrentPassword">
                    <span asp-validation-for="Input.OldPassword" class="text-danger"></span>
                    <a href="/Identity/Account/ForgotPassword" class="text-sm font-weight-bolder">@Resource.ForgotPassword</a>
                </div>
            </div>
            <div class="row form-group">
                <label asp-for="Input.NewPassword" class="col-xl-3 col-lg-3 col-form-label text-alert"></label>
                <div class="col-lg-9 col-xl-6">
                    <input asp-for="Input.NewPassword" type="password" class="form-control form-control-lg form-control-solid" placeholder="@Resource.NewPassword">
                    <span asp-validation-for="Input.NewPassword" class="text-danger"></span>
                </div>
            </div>
            <div class="row form-group">
                <label asp-for="Input.ConfirmPassword" class="col-xl-3 col-lg-3 col-form-label text-alert"></label>
                <div class="col-lg-9 col-xl-6">
                    <input asp-for="Input.ConfirmPassword" type="password" class="form-control form-control-lg form-control-solid" placeholder="@Resource.ConfirmPassword">
                    <span asp-validation-for="Input.ConfirmPassword" class="text-danger"></span>
                </div>
            </div>
        </form>
    </div>
</div>

@section Scripts {
    <script>
        function submit_pass() {
            show_loading();
            $('#frm_change_password').trigger('submit');
        }
    </script>
}
