@page
@model ForgotPasswordModel
@{
    ViewData["Title"] = Resource.ForgotPassword;
    Layout = "_Layout";
    ErrorVM error = TempData.Get<ErrorVM>("ErrorI");
}

<form class="form fv-plugins-bootstrap fv-plugins-framework" id="frm_Forgot_Password" method="post">
    <div class="pb-5 pb-lg-15">
        <h3 class="font-weight-bolder text-dark font-size-h2 font-size-h1-lg">@Resource.ForgotPassword</h3>
        <p class="text-muted font-weight-bold font-size-h4">@Resource.InputEmailToResetPassword</p>
    </div>

    <partial name="_AlertMessage" model="error" />
    @Html.AntiForgeryToken()

    <div class="form-group fv-plugins-icon-container">
        <input asp-for="Input.Email" class="form-control form-control-solid h-auto py-7 px-6 border-0 rounded-lg font-size-h6" type="email" placeholder="@Resource.Email" autocomplete="off">
        <span asp-validation-for="Input.Email" class="text-danger"></span>
        <div class="d-flex justify-content-end mt-n5">
            <a href="/Identity/Account/Login" class="text-primary font-size-h6 font-weight-bolder text-hover-primary pt-5">@Resource.LoginInstead</a>
        </div>
    </div>
    <div class="form-group d-flex flex-wrap">
        <button type="submit" id="btn_SubmitLogin" data-action="Login" data-callback="onSubmitForm" class="btn btn-primary font-weight-bolder font-size-h6 px-8 py-4 my-3 mr-4">@Resource.SendEmail</button>
        <a href="javascript: history.go(-1)" id="kt_login_forgot_cancel" class="btn btn-light-primary font-weight-bolder font-size-h6 px-8 py-4 my-3">@Resource.Back</a>
    </div>
</form>

@section Scripts {
    <partial name="_ValidationScriptsPartial" />
}
