@using AMS.Areas.Authorization.Models.Menu
@model Edit

<div class="modal-header">
    <h5 class="modal-title">@Resource.Edit</h5>
    <button type="button" class="close" data-bs-dismiss="modal" aria-label="Close">
        <i aria-hidden="true" class="ki ki-close"></i>
    </button>
</div>

<form asp-action="Edit" asp-controller="Menu" asp-area="Authorization" id="frm_EditMenu" method="post" data-ajax="true" data-ajax-method="post" data-ajax-success="on_success_menu" role="form">
    <div class="modal-body pb-0">
        <div data-scroll="true" data-height="700" id="kt_modal_body" class="scroll scroll-pull max-h-700px">
            @Html.AntiForgeryToken()
            <input asp-for="MenuIde" type="hidden" />
            <input asp-for="TagsSQ" type="hidden" />
            <input asp-for="TagsEN" type="hidden" />

            <div class="row">
                <div class="col-md-4 form-group">
                    <label asp-for="NameSq" class="required"></label>
                    <input asp-for="NameSq" class="form-control" />
                    <span asp-validation-for="NameSq" class="text-danger"></span>
                </div>
                <div class="col-md-4 form-group">
                    <label asp-for="NameEn" class="required"></label>
                    <input asp-for="NameEn" class="form-control" />
                    <span asp-validation-for="NameEn" class="text-danger"></span>
                </div>
                <div class="col-md-4 form-group">
                    <label asp-for="Area"></label>
                    <input asp-for="Area" class="form-control" />
                </div>
                <div class="col-md-4 form-group">
                    <label asp-for="Controller"></label>
                    <input asp-for="Controller" class="form-control" />
                </div>
                <div class="col-md-4 form-group">
                    <label asp-for="Action"></label>
                    <input asp-for="Action" class="form-control" />
                </div>
                <div class="col-md-4 form-group">
                    <label asp-for="OrdinalNumber" class="required"></label>
                    <input asp-for="OrdinalNumber" type="number" class="form-control" />
                    <span asp-validation-for="OrdinalNumber" class="text-danger"></span>
                </div>
                <div class="col-md-4 form-group">
                    <label asp-for="ClaimPolicy"></label>
                    <input asp-for="ClaimPolicy" class="form-control" />
                </div>
                <div class="col-md-4 form-group">
                    <label asp-for="Icon"></label>
                    <div class="input-group">
                        <input asp-for="Icon" class="form-control" />
                        <div class="input-group-append"><span class="input-group-text"><i id="kt_icon" class="@Model.Icon"></i></span></div>
                    </div>
                </div>
                <div class="col-md-4 form-group">
                    <label asp-for="OpenFor"></label>
                    <input asp-for="OpenFor" class="form-control" />
                </div>
                <div class="col-md-4 d-flex flex-column pl-5 form-group">
                    <label asp-for="HasSubMenu" class="required">@Resource.HasSubMenu</label>
                    <div class="d-inline">
                        <input asp-for="HasSubMenu" id="has_submenu" style="cursor: pointer;" type="checkbox">
                        <label asp-for="HasSubMenu" id="lbl_submenu" onclick="change_submenu(this)"></label>
                    </div>
                </div>
                <div class="col-md-4 d-flex flex-column pl-5 form-group">
                    <label asp-for="Active" class="required">@Resource.Active</label>
                    <div class="d-inline">
                        <input asp-for="Active" id="inp_active" style="cursor: pointer;" type="checkbox">
                        <label asp-for="Active" id="lbl_active" onclick="change_active(this)"></label>
                    </div>
                    <span asp-validation-for="Active" class="text-danger"></span>
                </div>
            </div>
            <div class="row form-group">
                <div class="col-md-6">
                    <label asp-for="TagsSQ"></label>
                    <input asp-for="TagsSQ" name="basic" id="txt_tags_sq_e" class="tagify form-control" />
                </div>
                <div class="col-md-6">
                    <label asp-for="TagsEN"></label>
                    <input asp-for="TagsEN" name="basic" id="txt_tags_en_e" class="tagify form-control" />
                </div>
            </div>
            <div class="separator separator-solid mb-5"></div>

            @if (Model.HasSubMenu)
            {
                <div class="accordion accordion-light accordion-toggle-arrow mb-5" id="kt_submenus">
                    <div class="card">
                        <div class="card-header">
                            <div class="card-title collapsed" data-toggle="collapse" data-target="#kt_submenu_list">
                                @Resource.ListSubMenus
                            </div>
                        </div>
                        <div id="kt_submenu_list" class="mt-4 collapse" data-parent="#kt_submenus">
                            <div class="card-body" id="kt_submenu_data">
                            </div>
                        </div>
                    </div>
                </div>
            }
        </div>
    </div>
    <div class="modal-footer modal-footer-uniform w-full justify-content-between">
        <button type="button" class="btn btn-bold btn-pure btn-secondary" data-bs-dismiss="modal">@Resource.Close</button>
        <button type="button" class="btn btn-bold btn-pure btn-primary float-right" id="btn_submit">@Resource.Edit</button>
    </div>
</form>

<script>
    $(document).ready(function () {
        var form = $('#frm_EditMenu');
        form.removeData('validator');
        form.removeData('unobtrusiveValidation');
        $.validator.unobtrusive.parse(form);

        $('#lbl_submenu').text('');
        $('#lbl_active').text('');

        $('#Icon').on('change', function () {
            if ($(this).val() != null && $(this).val() != '') {
                $('#kt_icon').removeClass('@Model.Icon').addClass($(this).val());
            } else {
                $('#kt_icon').addClass('@Model.Icon');
            }
        });

        $('#btn_submit').on('click', function () {
            if (form.valid()) {
                $('#TagsSQ').val($('#txt_tags_sq_e').val());
                $('#TagsEN').val($('#txt_tags_en_e').val());
                form.submit();
            }
        });

        $('#kt_submenu_data').load('@Url.Action("SubMenu", "SubMenu")?mIde=@Model.MenuIde');

        const container = document.getElementById('kt_modal_body');
        const ps = new PerfectScrollbar(container, {
            wheelSpeed: 1,
            wheelPropagation: true,
            suppressScrollX: true
        });

        KTTagify.init();
    });

    var KTTagify = function () {
        var init_tagify = function () {
            var input_sq = document.getElementById('txt_tags_sq_e');
            var input_en = document.getElementById('txt_tags_en_e');

            var tagify_sq = new Tagify(input_sq, {
                delimiters: ",",
                transformTag: transform_tag,
                originalInputValueFormat: valuesArr => valuesArr.map(a => a.value).join(',')
            });

            var tagify_en = new Tagify(input_en, {
                delimiters: ",",
                transformTag: transform_tag,
                originalInputValueFormat: valuesArr => valuesArr.map(a => a.value).join(',')
            });

            function transform_tag(tagData) {
                var states = [ 'success', 'dark' ];

                tagData.class = 'tagify__tag tagify__tag--' + states[random_int_interval(0, 1)];
            }
        }

        return {
            init: function () {
                init_tagify();
            }
        }
    }();

    function change_submenu(e) {
        if($('#has_submenu').is(":checked")) {
            $('#has_submenu').removeAttr('checked');
        } else {
            $('#has_submenu').attr('checked', true);
        }
    }

    function change_active(e) {
        if($('#inp_active').is(":checked")) {
            $('#inp_active').removeAttr('checked');
        } else {
            $('#inp_active').attr('checked', true);
        }
    }

    function on_success_menu(data) {
        handle_success(data, SubmitPathType.RELOAD, "");
    }
</script>
