@using AMS.Models.Staff
@model EditDocument
@inject IDDLRepository repo
@{
    UserModel user = (UserModel)ViewData["User"];
    Layout = null;
}

<div class="modal-header">
    <h5 class="modal-title">@Resource.AddDocument</h5>
    <button type="button" class="close" data-bs-dismiss="modal" aria-label="Close">
        <i aria-hidden="true" class="ki ki-close"></i>
    </button>
</div>

<form asp-action="EditDocument" asp-controller="Staff" id="frm_edit_document" method="post" data-ajax="true" data-ajax-method="post" data-ajax-success="success_edit_document" role="form">
    <div class="modal-body">
        @Html.AntiForgeryToken()
        <input asp-for="StaffDocumentIde" type="hidden"/>

        <div class="row pl-2 pr-2">
            <div class="col-md-4 form-group">
                <label asp-for="DocumentTypeId" class="required"></label>
                <select asp-for="DocumentTypeId" asp-items="await repo.DocumentTypes(user.Language)" class="form-control select2">
                    <option value="">@Resource.Choose</option>
                </select>
                <span asp-validation-for="DocumentTypeId" class="text-danger"></span>
            </div>
            <div class="col-md-4 form-group">
                <label asp-for="Title" class="required"></label>
                <input asp-for="Title" type="text" class="form-control"/>
                <span asp-validation-for="Title" class="text-danger"></span>
            </div>
            <div class="col-md-4 d-flex flex-column pl-2">
                <label asp-for="Active" class="required">@Resource.Active</label>
                <div class="icheck-primary d-inline">
                    <input asp-for="Active" type="checkbox" id="inp_active" style="cursor: pointer;">
                    <label asp-for="Active" id="lbl_active" onclick="change_active(this)"></label>
                </div>
                <span asp-validation-for="Active" class="text-danger"></span>
            </div>
            <div class="col-md-6 d-flex flex-column pl-5">
                <label asp-for="Expires" class="required" style="pointer-events: none;">@Resource.CanExpire</label>
                <div class="d-inline">
                    <input asp-for="Expires" style="cursor: pointer;" type="checkbox">
                    <label asp-for="Expires" id="lbl_expires" onclick="change_check()"></label>
                </div>
            </div>
            <div class="col-md-6 form-group" style="display: none;" id="kt_expire_date">
                <label asp-for="ExpireDate" class="required"></label>
                <div class="input-group date">
                    <input asp-for="ExpireDate" type="text" placeholder="dd/MM/yyyy" class="form-control" autocomplete="off" />
                    <div class="input-group-append">
                        <span class="input-group-text"><i class="la la-calendar"></i></span>
                    </div>
                </div>
                <span id="spn_expire_date" class="text-danger d-none">@Resource.RequiredField</span>
            </div>
        </div>
        <div class="row form-group pl-2 pr-2">
            <div class="col-md-12">
                <label asp-for="Description"></label>
                <textarea asp-for="Description" type="text" rows="2" class="form-control"></textarea>
                <span asp-validation-for="Description" class="text-danger"></span>
            </div>
        </div>
    </div>

    <div class="modal-footer modal-footer-uniform w-full justify-content-between">
        <button type="button" class="btn btn-bold btn-pure btn-secondary" data-bs-dismiss="modal">@Resource.Close</button>
        <button type="button" id="btn_submit" class="btn btn-bold btn-pure btn-primary float-right">@Resource.Edit</button>
    </div>
</form>

<script>
    $(document).ready(function() {
        $.validator.setDefaults({ ignore: '' });
        var form = $('#frm_edit_document');
        form.removeData('validator');
        form.removeData('unobtrusiveValidation');
        $.validator.unobtrusive.parse(form);

        $(".select2").select2({
            width: "100%",
            language: {
                noResults: function () {
                    return '@Html.Raw(Resource.NoResultsFound)';
                },
            }
        });

        $('#lbl_active').text('');
        $('#lbl_expires').text('');

        $("#ExpireDate").datepicker({
            language: cultureShort,
            rtl: KTUtil.isRTL(),
            todayBtn: "linked",
            todayHighlight: true,
            templates: arrows,
            autoclose: true,
            orientation: "bottom",
            format: 'dd/mm/yyyy'
        }).inputmask("mask", {
            mask: "99/99/9999",
            placeholder: "dd/MM/yyyy"
        });

        $('#btn_submit').on('click', function () {
            if (form.valid()) {
                if ($('#Expires').is(":checked")) {
                    if ($('#ExpireDate').val() != null && $('#ExpireDate').val() != "") {
                        $('#spn_expire_date').addClass('d-none');
                        form.submit();
                    } else {
                        $('#spn_expire_date').removeClass('d-none');
                    }
                } else {
                    $('#spn_expire_date').addClass('d-none');
                    form.submit();
                }
            }
        });
    });

    function change_check() {
        if (!$('#Expires').is(":checked")) {
            $('#kt_expire_date').show(250);
        } else {
            $('#kt_expire_date').hide(250);
        }
    }

    function change_active(e) {
        if($('#inp_active').is(":checked")) {
            $('#inp_active').removeAttr('checked');
        } else {
            $('#inp_active').attr('checked', true);
        }
    }

    function success_edit_document(data) {
        handle_success(data, SubmitPathType.RELOAD, "");
    }
</script>